@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Москва<br />
    улица + а/я<br />
    <abbr title="Phone">Т:</abbr>
    88005553535
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cerama-lux@mail.ru">cerama-lux@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:davtian555@yandex.ru">Менеджер</a>
</address>
