@model object

@{
	ViewBag.Title = "Заказ подтвержден";
	Layout = "_Layout";
}

<h2>Заказ подтвержден</h2>
<p>Мы вам перезвоним</p>
<a asp-area="" asp-controller="Home" asp-action="Index" >На главную</a>